/node_modules
/public/hot
/public/js
/public/storage
/storage/*.key
composer.lock
package-lock.json
/vendor
.DS_Store
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/build
composer.lock
